---
---

@import "jekyll-theme-minimal";

body {
    background-color: #fff;
    padding: 5%;
    font: 15px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #404040;
    font-weight: 400;
    max-width: 600px;
}
strong {
    color: #404040;
    font-weight: 600;
}
h2 {
    color: #ffffff;
    background: linear-gradient(90deg,#2665a1d8 0%, #2665a1d8 50%, #ffffff 100%);
    padding: 5px;
}
img {
    max-height: 200px;
  }
a {
    color: #2666a1;
    text-decoration: none;
}